.testimonials {
  background: #e7f1f8;
  padding: 168px 0 155px;
}

@media (min-width: 992px) {
  .testimonials-pc img {
    width: 100%;
    margin-bottom: 30px;
  }

  .testimonials-sp img {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .testimonials-pc img {
    display: none;
  }

  .testimonials-sp img {
    width: 100%;
    margin-bottom: 30px;
  }
}

.testimonials__item-title {
  /* background: #00bfd8; */
  background: url(/assets/images/testimonials-background.jpg);
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  border-radius: 10px;
}

.testimonials__item-title:before {
  content: '';
  display: inline-block;
  height: 77px;
  margin-right: 17px;
  vertical-align: middle;
}

.testimonials__item {
  background: #fff;
}

.testimonials__item:not(:first-child) {
  margin-top: 45px;
}

/* 
.testimonials__item-wrap {
  border: 2px solid #00bfd8;
}
*/

.testimonials__item-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 10px;
  padding: 30px 40px;
}

.testimonials__thumb {
  height: 255px;
  overflow: hidden;
  width: 255px;
}

.testimonials__toggle {
  text-align: center;
}

/*
.testimonials__dtl {
  padding: 7px 15px 0 0;
}
*/

.testimonials__table * {
  margin: 0 auto;
}

/*
.ov {
  border-bottom: 3px solid #00bfd8;
  margin: 0 0 10px 0;
  padding: 0 0 18px 0;
}
*/

.ov__title {
  display: block;
  color: #00bfd8;
  line-height: 1.2;
  font-weight: 700;
  font-size: 24px;
  margin: 0 0 20px;
  width: 100%;
}

.ov__env2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.ov__env {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media (max-width: 991.98px) {
  .ov__env {
    align-items: start;
    flex-direction: column;
  }
}

.ov__env-item {
  color: #00bfd8;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.1rem;
  margin: 0 0 0 15px;
}

.ov__txt {
  font-size: 18px;
  line-height: 1.9;
  text-align: justify;
}

.toggle-btn {
  border-radius: 30px;
  background: #131712;
  color: #fff;
  display: block;
  font-weight: bold;
  font-size: 18px;
  height: 54px;
  margin: 24px auto 40px;
  position: relative;
  padding: 14px 30px 13px 10px;
  position: relative;
  text-align: center;
  transition: 0.3s cubic-bezier(0.78, 0.76, 0.28, 0.98);
  width: 210px;
}

.toggle-btn:hover {
  cursor: pointer;
  opacity: 0.75;
}

.toggle-btn--close,
.toggle-btn--open {
  line-height: 54px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translate3d(-10px, 0, 0);
}

.toggle-btn--close {
  opacity: 1;
  width: 100%;
}

.toggle-btn--open {
  opacity: 0;
  width: 0;
}

.toggle-btn--close:before,
.toggle-btn--close:after,
.toggle-btn--open:before,
.toggle-btn--open:after {
  content: '';
  background: #fff;
  display: block;
  height: 2px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 15px;
}

.toggle-btn--close:before,
.toggle-btn--close:after {
  right: 40px;
}

.toggle-btn--close:after {
  transform: rotate(-90deg);
}

.toggle-btn--open:before,
.toggle-btn--open:after {
  right: 55px;
}

.toggle-btn--open:before {
  transform: rotate(0deg);
}

.toggle-btn--open:after {
  transform: rotate(0deg);
}

.is-active .toggle-btn--close {
  opacity: 0;
  width: 0;
}

.is-active .toggle-btn--open {
  opacity: 1;
  width: auto;
}